html, body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: white; }
  body a {
    color: #336699; }
  body h1 {
    font-size: 4em; }
  body h2 {
    font-weight: bold;
    font-size: 3em; }
  body h3 {
    font-size: 2em; }
  body .text-center {
    text-align: center; }
  body .img-background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: relative; }
  body .img-filter {
    background-color: rgba(237, 237, 237, 0.5);
    min-height: 100vh; }
  body header nav {
    padding-top: 1.5%;
    margin: 0 auto;
    height: 25px;
    width: 98%; }
    body header nav .logo {
      width: 250px;
      display: inline-block; }
      body header nav .logo p {
        display: inline-block;
        width: 100%;
        padding-top: 10px; }
    body header nav span {
      color: gray; }
    body header nav .nav-right {
      display: inline-block;
      width: 200px;
      float: right; }
      body header nav .nav-right a {
        float: right;
        padding-left: 40px;
        width: 48px;
        height: 48px; }
      body header nav .nav-right a.facebook {
        background: url("/images/facebook.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        padding-left: 53px; }
      body header nav .nav-right a.twitter {
        background: url("/images/twitter.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      body header nav .nav-right a.facebook:hover {
        background: url("/images/facebook_highlighted.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      body header nav .nav-right a.twitter:hover {
        background: url("/images/twitter_highlighted.png");
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat; }
      body header nav .nav-right img {
        width: 48px;
        height: 48px; }
      body header nav .nav-right .facebook {
        width: 15px; }
    body header nav .nav-left {
      display: inline-block;
      width: 300px;
      font-size: 2em; }
      body header nav .nav-left a {
        color: #e6e6e6;
        padding-right: 40px;
        text-decoration: none; }
      body header nav .nav-left #about-text, body header nav .nav-left #contact-text {
        display: none;
        color: #e6e6e6;
        width: 350px; }
    body header nav a:hover {
      color: #336699; }
  body .content .video {
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1000;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    body .content .video iframe {
      margin: 0 auto;
      width: 800px;
      position: absolute;
      top: 75px;
      left: 50%;
      margin-left: -400px;
      z-index: 1000; }
  body .content a.icon {
    margin: 12% auto;
    display: block;
    width: 100px;
    height: 100px;
    background: url("/images/play_rings.png");
    background-size: cover; }
  body .content a.icon:hover {
    background: url("/images/play_rings_highlighted.png");
    background-size: cover; }
  body .content .title {
    color: #6e6e6e;
    font-size: 80px;
    text-align: center;
    padding: 15px 0;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 0;
    min-width: 100%;
    display: block; }
    body .content .title ul {
      display: inline-block; }
    body .content .title a:hover {
      color: #264d73; }
    body .content .title .dropit-trigger {
      position: relative;
      text-align: center; }
    body .content .title .dropit-submenu {
      position: absolute;
      top: 0;
      left: -5%;
      right: 0;
      width: 110%;
      display: block;
      z-index: 1000;
      min-width: 150px;
      background-color: white;
      border: 1px solid #b2b2b2; }
      body .content .title .dropit-submenu a {
        width: 100%; }
      body .content .title .dropit-submenu li:hover {
        background-color: #bad2d2; }
  body .comments {
    background-color: rgba(237, 237, 237, 0.5);
    width: available;
    margin: 0 auto 0 auto;
    padding: 0 200px;
    text-align: left; }
    body .comments h3 {
      padding-top: 50px; }
    body .comments form input {
      width: 30%;
      margin: 10px 0;
      font-size: 14px;
      font-weight: bold; }
    body .comments form textarea {
      font-family: arial;
      width: 36%;
      font-size: 14px;
      resize: vertical; }
    body .comments form #comment_name {
      margin-top: 20px; }
    body .comments .name {
      font-weight: bold;
      margin-top: 25px;
      margin-bottom: 5px; }
    body .comments .body {
      color: #0d0d0d; }
    body .comments .body:last-child {
      padding-bottom: 20px; }
