$blue: #336699
$gray: #e6e6e6
$darkgray: #6e6e6e

html, body
  height: 100%
body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  background-color: #fff
  a
    color: #336699
  h1
    font-size: 4em
  h2
    font-weight: bold
    font-size: 3em
  h3
    font-size: 2em
  .text-center
    text-align: center
  .img-background
    background: url('/images/naval.jpg')
    background-position: center
    background-repeat: no-repeat
    min-height: 100vh
    position: relative
  .img-filter
    background-color: rgba(217,217, 217, 0.5)
    min-height: 100vh
  header nav
    padding-top: 4%
    margin: 0 auto
    height: 25px
    width: 70vw
    .logo
      width: 250px
      display: inline-block
      p
        display: inline-block
        width: 100%
        padding-top: 10px
    span
      color: gray
    .nav-right 
      display: inline-block
      width: 200px
      float: right

      a
        float: right
        padding-left: 20px
        width: 48px
        height: 48px
      a.facebook
        background: url('/images/facebook.png') 
        background-size: contain
        background-position: center
        background-repeat: no-repeat
        padding-left: 53px
      a.twitter
        background: url('/images/twitter.png') 
        background-size: contain
        background-position: center
        background-repeat: no-repeat
      a.facebook:hover 
        background: url('/images/facebook_highlighted.png')
        background-size: contain
        background-position: center
        background-repeat: no-repeat
      a.twitter:hover
        background: url('/images/twitter_highlighted.png') 
        background-size: contain
        background-position: center
        background-repeat: no-repeat
      img
        width: 48px
        height: 48px
      .facebook
        width: 15px
    .nav-left 
      display: inline-block
      width: 300px
      font-size: 2em

      a
        color: #e6e6e6
        padding-right: 20px
        text-decoration: none
    a:hover 
      color: $blue
  .content
    .video
      background-color: rgba(0,0,0,0.9)
      z-index: 1000
      display: none
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      iframe
        margin: 0 auto
        width: 800px
        position: absolute
        top: 75px
        left: 50%
        margin-left: -400px
        z-index: 1000
    h1
    a.icon
      margin: 150px auto
      display: block
      width: 100px
      height: 100px
      background: url('/images/play_rings.png')
      background-size: cover
    a.icon:hover
      background: url('/images/play_rings_highlighted.png')
      background-size: cover
    .title
      color: rgb(110, 110, 110)
      font-size: 80px
      text-align: center 
      padding: 15px 0
      margin-top: 12px 
      background-color: rgba(255,255,255,.5)
      position: absolute
      bottom: 0
      min-width: 100%
      display: block
      ul
        display: inline-block   
      a:hover
        color: #264d73
      .dropit-trigger
        position: relative
        text-align: center
      .dropit-submenu
        position: absolute
        top: 0
        left: -5%
        right: 0
        width: 110%
        display: block
        z-index: 1000
        min-width: 150px
        background-color: #fff
        border: 1px solid #B2B2B2
        a
          width: 100%
        li:hover
          background-color: #bad2d2
    .comments-container
      background-color: rgba(51,102,153,.5)
    .comments
      width: 800px
      margin: 40px auto 0 auto
      padding-top: 40px
      text-align: center

      form
        input
          width: 30%
          margin: 10px 0
          font-size: 14px
          font-weight: bold
        textarea
          font-family: arial
          width: 36%
          font-size: 14px
          resize: vertical
        #comment_name
          margin-top: 20px
      .name
        font-weight: bold
        margin-top: 25px 
        margin-bottom: 5px
      .body
        color: #0d0d0d
      .body:last-child
        padding-bottom: 20px
          

    
