html, body
  height: 100%
body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  font-size: 14px
  background-color: #f2f2f2

  /* .container
    background: url('/images/backround-img.jpg')
    background-size: auto auto
    background-repeat: no-repeat
    background-position: right top
    background-color: #000
    color: #808080 */
  a
    color: #336699
  h1
    font-size: 4em
  h2
    font-weight: bold
    font-size: 3em
  h3
    font-size: 2em
    margin-top: .5em
  .text-center
    text-align: center
  nav
    margin: 0 200px
    .logo
      width: 250px
      display: inline-block
      p
        display: inline-block
        width: 100%
        padding-top: 10px
    span
      color: gray
    a
      float: right
      padding: 10px
  .content
    #nav
      list-style: none
    h1
    a.icon
      margin: 90px auto
      display: block
      width: 200px
      height: 200px
      background: url('/images/play_rings.png')
    a.icon:hover
      background: url('/images/play_rings_highlighted.png')
    .dropit 
      list-style: none
      a
        display: inline-block
        margin: 0 auto
        width: auto
      a:hover
        color: #264d73
      .dropit-trigger
        position: relative
        text-align: center
      .dropit-submenu
        position: absolute
        width: 500px
        top: 0
        left: 0
        right: 0
        display: block
        margin-left: auto
        margin-right: auto
        z-index: 1000
        min-width: 150px
        background-color: #fff
        border: 1px solid #B2B2B2
        li:hover
          background-color: #bad2d2
        a
          width: 100%
    .comments-container
    .comments
      margin: 50px 200px
      form
        input
          width: 30%
          margin: 10px 0
        textarea
          width: 100%
          resize: vertical
        #comment_name
          margin-top: 40px
      .name
        font-weight: bold
        margin-top: 20px 
        margin-bottom: 5px
      .body
          
  .video
    display: none
    position: fixed
    z-index: 2000
    width: 100%
    height: 100%
    background-color: rgba(0,0,0, .96)
    top: 0px
    left: 0px
    iframe
      position: absolute
      left: 50%
      top: 50%
      margin-top: -225px
      margin-left: -400px
      z-index: 3000

    
